#home-section{
    background: linear-gradient(rgba(6,72,105,0.7),rgba(73,189,235,0.5)),url('./closeup-photo-of-black-and-blue-keyboard-1194713\ \(1\).jpg');
}
#skill-section{
    background: linear-gradient(rgba(6,72,105,0.7),rgba(73,189,235,0.5)),url('./code-coder-coding-computer-270404.jpg');

}
#contact-section{
    background: linear-gradient(rgba(6,72,105,0.7),rgba(73,189,235,0.5)),url('./web-text-1591060.jpg');

}
#last-section{
    background: linear-gradient(rgba(6,72,105,0.7),rgba(73,189,235,0.5)),url('./web-text-1591060.jpg');

}

